<div class="section-container">

  <h1>The HTTPClient</h1>

  <p>Finally- we now know everything we need to integrate our frontend with our backend by introducing HTTPClient. The
    HTTPClient returns Observables that produce an update as the HTTP response resolves. You can see here that the Space
    blog API is used to retrieve real-time space facts from an external API.</p>

  <div class="todo-container">

    <p>The "all articles" component and related service method is already working & complete. You have two tasks ahead
      of
      you: you must write a valid get request via the HTTPClient in the space-api service class, which will create a
      working
      all-reports page, and you must properly subscribe to the HTTP response provided by the service in the
      reports-by-id component.</p>

  </div>
</div>